<template lang="pug">
	.page-wrapper
		template(v-if='!date')
			p Подождите, загружаем день недели...
		template(v-else)
			.calendar-wrapper
				.calendar
					.date-picker-wrapper
						.date-picker()
							.header {{ getLocaleString }}
							.days
								template(v-for='(value, index) in weekLocales')
									.day {{ value }}
							.dates
								template(v-for='(value, index) in getSkippedDays')
									div
								template(v-for='(value, index) in getDaysInMonth')
									.date(:class='getDayStatus(value)' @click='selectDay(value)')
										.content {{ value }}




					.info-wrapper
						.info
							template(v-if='getSelectedPlans')
								.header События
								.tasks
									template(v-for='value in getSelectedPlans.plans')
										.task 
											label.checkbox 
												input(type='checkbox' v-model='value.status') 
												span.checkmark()
											.content {{ value.text }}
								.actions(:style='getSelectedPlans.plans.length == 0 ? "margin-left: 0;" : ""')
									input(type='text' placeholder='Введите задачу...' v-model='input' @keyup.enter='saveTask()')
									button.add(@click='saveTask()' v-if='input')
										.content +
							template(v-else)
								.empty-date День не выбран

</template>
 
<script>
export default {
	name: 'Root',
	computed: {
		/**
		 * Получить текущее название месяца
		 * @type {string}
		 */
		getLocaleString() {
			return this.date.format('MMMM YY');
		},

		/**
		 * Количество дней в текущем месяце
		 * @type {number}
		 */
		getDaysInMonth() {
			return this.date.daysInMonth();
		},

		/**
		 * Получить кол-во пропускаемых дней от начала месяца
		 * @type {number}
		 */
		getSkippedDays() {
			return this.date.set('date', 1).weekday();
		},

		/**
		 * Получить планы на выбранный день
		 * @returns {any}
		 */
		getSelectedPlans() {
			const baseKey = this.date.set('date', this.selectedDay).format('YYYY-MM-DD');
			if (!this.schedule[baseKey]) {
				this.schedule[baseKey] = {
					plans: []
				}
			}

			return this.schedule[baseKey];
		}
	},
	async mounted() {
		moment.updateLocale('ru', {
			week: {
				dow: 1
			}
		});

		// Устанавливаем текущую дату
		this.date = moment().add(5, 'M');

		this.selectedDay = this.date.date();
	},
	data: () => ({
		/**
		 * Текущая дата
		 * @type {moment}
		 */
		date: null,

		/**
		 * Локализация дней
		 * @type {string[]}
		 */
		weekLocales: [
			'Пн',
			'Вт',
			'Ср',
			'Чт',
			'Пт',
			'Сб',
			'Вс'
		],

		/**
		 * Расписание пользователя
		 * @type {string}
		 */
		schedule: {},

		/** 
		 * Текущий выбранный день
		 * @type {any}
		 */
		selectedDay: null,

		/**
		 * Текст новой задачи
		 * @type {string}
		 */
		input: null
	}),
	methods: {
		/**
		 * Получить класс для подсветки дня
		 * @returns {string}
		 */
		getDayStatus(number) {
			if (this.selectedDay == number) {
				return 'active';
			}

			if (this.isBusy(number)) {
				return 'busy';
			}
			
			return '';
		},

		/**
		 * Выбрать день для отображения
		 */
		selectDay(number) {
			this.selectedDay = number;

			// Сбрасываем текст задачи
			this.input = null;
		},

		/**
		 * Проверка, свободен ли день
		 * @type {boolean}
		 */
		isBusy(number) {
			const baseKey = this.date.set('date', number).format('YYYY-MM-DD');

			return this.schedule[baseKey] && this.schedule[baseKey].plans.find(v => !v.status);
		},

		/**
		 * Сохранить задачу
		 */
		saveTask() {
			this.getSelectedPlans.plans.push({
				text: this.input,
				status: false
			});

			// Сбрасываем текст задачи
			this.input = null;
		}
	}
};
</script>