<template lang="pug">
  div#app
    first-component

</template>
 
<script>
import FirstComponent from './components/firstComponent.vue';

export default {
  name: 'Main',
  components: {
    FirstComponent
  },
  async mounted() {     
    this.$store.dispatch('test/test');
  },
  methods: {
    test() {
      alert(123);
    }
  }
};
</script>
<style>
</style>
<style src="./scss/Calendar.scss">
</style>
<style src="./scss/fonts.css">
</style>
