.page-wrapper {
  font-family: 'TT Commons';
  line-height: 1;
  user-select: none;
  .calendar-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .calendar {
      display: flex;
      align-items: center;
      justify-content: center;

      .date-picker-wrapper, .info-wrapper {
        padding: 20px 10px;
        width: 400px;
        flex: 1; 

        .date-picker, .info {
          height: 100%;
          width: 100%;
          background: #fff;
          box-shadow: 0px 2px 23px #EDEDED;
          border-radius: 10px;
          padding: 25px 30px;
          min-height: 300px;
        }
      }

      .date-picker-wrapper {
        .date-picker {
          .header {
            font-size: 22px;
            font-weight: 500;
            color: #6B7897;
            margin-left: 10px;
            margin-bottom: 10px;
            text-transform: capitalize;
          }

          .days {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(7, 1fr);
            padding: 12px 0 0;

            .day {
              font-size: 18px;
              font-weight: 500;
              color: #b7bec6;
              align-self: center;
              text-align: center;
            }
          }

          .dates {
            display: grid;
            align-items: flex-end;
            grid-template-columns: repeat(7, 1fr);

            .date {   
              align-self: center;
              text-align: center;
              padding: 16px 0;
              font-size: 20px;
              color: #7C86A2;
              position: relative;
              cursor: pointer;
              font-weight: 400;

              &.busy {
                color: #aa3434;
                font-weight: 500;
              }

              &.active {
                color: #fff;
                font-weight: 500;

                &::before {
                  content: "";
                  background: linear-gradient(0deg, #7ED5FC 0%, #90D9FA 100%);;
                  border-radius: 50%;
                  position: absolute;
                  top: 6px;
                  left: 5px;
                  bottom: 7px;
                  right: 5px;
                  z-index: 0;
                }
              }

              .content {
                z-index: 1;
                position: inherit;
                margin-bottom: -3px;
              }
            }
          }
        }
      }
      .info-wrapper {
        .info {
          position: relative;

          .empty-date {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 22px;
            font-weight: 500;
            color: #9caabf;
          }

          .empty-tasks {
            font-size: 18px;
            font-weight: 500;
            color: #909aad;
            padding: 6px 0;
          }

          .actions {
            display: flex;
            align-items: center;
            margin-left: 45px;
            transition: all .3s;

            .add {
              margin-left: 10px;
              outline: none;

              .content {
                font-size: 30px;
                margin-bottom: -3px;
                font-weight: 600;
                color: #8d8d8d;
              }
            }

            input {
              padding: 6px 10px 5px;
              font-size: 18px;
              border: 2px solid #c6c6c6;
              border-radius: 5px;
              transition: all .3s;
              color: #c6c6c6;

              &::placeholder {
                color: #c6c6c6;
                margin-bottom: -3px;
              }

              &:focus {
                border: 2px solid #8d8d8d !important;
                border-radius: 5px;
                outline: none;
                color: #8d8d8d;
              }
            }
          }

          .header {
            color: #8c96ab;
            font-size: 22px;
            font-weight: 500;
          }

          .tasks {
            padding: 6px 8px;

            .task {
              display: flex;
              align-items: center;
              padding: 6px 0;

              .content {
                font-size: 18px;
                color: #8c96ab;
                margin-bottom: -3px;
              }

              .checkbox {
                margin-right: 5px;
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 25px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                }

                .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 25px;
                  width: 25px;
                  background-color: #eee;

                  &:after {
                    left: 10px;
                    top: 6.5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }

                  &:after {
                    content: "";
                    position: absolute;
                    display: none;
                  }
                }

                &:hover input ~ .checkmark {
                  background-color: #ccc;
                }
                input:checked ~ .checkmark {
                  background-color: #2196F3;
                }
                input:checked ~ .checkmark:after {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}






















/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */

hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */

input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"], /* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */

img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */

/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}