/* TT Commons */

@font-face {
  font-family: 'TT Commons';
  src: url('../../storage/fonts/TTCommons/TTCommons-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('../../storage/fonts/TTCommons/TTCommons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('../../storage/fonts/TTCommons/TTCommons-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('../../storage/fonts/TTCommons/TTCommons-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
